[Unit]
Description="Photo Booth Service - Fiebooth"
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/fiebooth/fiebooth
ExecStart=/bin/bash /fiebooth/fiebooth/run.sh
# optional items below
Restart=always
RestartSec=2
Environment="PYTHONPATH=$PYTHONPATH:$HOME/.local/lib/python3.9/site-packages"
Environment="DISPLAY=:0"
# Environment="XAUTHORITY=$HOME/.Xauthority"
KillMode=process

[Install]
WantedBy=graphical.target